/* Import all CSS files */

/* Base styles */
@import './base-styles/variables.css';
@import './base-styles/base.css';
@import './base-styles/layout.css';

/* Components */
@import './component-styles/icons.css';
@import './component-styles/cards.css';
@import './component-styles/info.css';
@import './component-styles/forms.css';
@import './component-styles/code-tabs.css';
@import './component-styles/concepts-panel.css';

/* Pages */
@import './page-styles/homepage.css';

/* Visualizers */
@import './visualizer-styles/linear/stack.css';
@import './visualizer-styles/linear/queue.css';
@import './visualizer-styles/linear/linkedlist.css';
@import './visualizer-styles/hash/hashtable.css';
@import './visualizer-styles/hash/hashtable-chaining.css';
@import './visualizer-styles/binarytrees/binarytree.css';
@import './visualizer-styles/binarytrees/bst.css';
@import './visualizer-styles/binarytrees/avl.css';
@import './visualizer-styles/binarytrees/splay.css';
@import './visualizer-styles/heaps/heap.css';

/* Mobile Responsive - Must be last to override other styles */
@import './base-styles/responsive.css';
